@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
@Html.ActionLink("Return", "Index", "Razor")
<br/><br/>
Combo  Box: @Html.Raw(ViewBag.ComboBox)<br />
Text Box: @Html.Raw(ViewBag.TextBox) <br/>
Check Box: @Html.Raw(ViewBag.CheckBox) <br/>
Radio Buttons: @Html.Raw(ViewBag.RadioButton) <br/>
